body {
  background: #fcfdf7;
  padding: 10%;
}

.hello {
  text-align:center;
  font-size: 30px;
  font-family: monospace;
  margin: auto;
  background: #243723;
  color: #fefff9;
  max-width: 300px;
  padding: 30px;
}